body{
    font-family: helvetica, arial, sans-serif;
    background-color:#FFFFCC;
    }
.highlight{
    color: red;
}
.thirdpara{
    background-color: olivedrab
}

.section{
    border-style: solid;
    border-radius: 30px;
    border-color: olivedrab;
    background-color: olivedrab;
    padding: 20px;
}

nav li a:link{
    text-decoration:none;
    color:#000000;
}
nav li a:visited{
    text-decoration:none;
    color:#CCCCCC;
}
nav li a:hover{
    text-decoration:underline;
    color:#66CC00;
}
nav li a:active{
    text-decoration:underline;
    color:#CC6600;
}

.foot{
    background-color: olivedrab;

}
